.check__animation {
  align-items: center;
  display: flex;
}

/* Loading */
@keyframes loading {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes move {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(50px);
  }
  75% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
.loading {
  align-items: center;
  animation: loading 300ms 2000ms ease-in-out forwards;
  background-color: rgba(246, 246, 246, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.loading--primary {
  animation: move 1000ms ease-in-out;
  background-color: #FFF;
  border: silver 5px solid;
  color: #9356DC;
}
.loading--secondary {
  animation: move 1000ms ease-in-out;
  background-color: #FFF;
  border: silver 5px solid;
  color: #FF79DA;
}
.loading--tertiary {
  animation: move 1000ms ease-in-out;
  background-color: #FFF;
  border: silver 5px solid;
  color: #99E2D0;
}

.loading div {
  border-radius: 50px;
  font-size: 28px;
  font-weight: bold;
  height: 30px;
  margin: 0 5px;
  text-align: center;
  width: 30px;
}

/* Menu - Cards */
.card__menu:hover > .menu__choice--text {
  width: 180px;
}
.card__menu:hover > .menu__choice--price {
  transform: translateX(-75px);
  transition-duration: 300ms;
}
.card__menu:hover > .check {
  transform: scaleX(1);
}
.card__menu:hover > .check > .check__animation {
  transform: rotate(0deg);
}

@keyframes menu {
  0% {
    transform: translateY(35px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Menu - Ordinaux */
.first {
  animation: menu 1000ms 50ms backwards;
}

.second {
  animation: menu 1000ms 500ms backwards;
}

.third {
  animation: menu 1000ms 1000ms backwards;
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.btn-explorer a {
  color: #FFF;
}

#restaurants a {
  color: #000;
}

#location {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
}
#location .fa-location-dot {
  color: #353535;
  padding: 5px 5px 7px 15px;
}

input {
  background-color: #EAEAEA;
  border: none;
  font-weight: 600;
  width: 125px;
}
input ::placeholder {
  color: #353535;
}

.exploration {
  align-items: center;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  text-align: center;
}
.exploration .exploration h1 {
  font-size: 15px;
}

.exploration p {
  color: #353535;
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.btn-explorer a {
  color: #FFF;
}

#restaurants a {
  color: #000;
}

#location {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
}
#location .fa-location-dot {
  color: #353535;
  padding: 5px 5px 7px 15px;
}

input {
  background-color: #EAEAEA;
  border: none;
  font-weight: 600;
  width: 125px;
}
input ::placeholder {
  color: #353535;
}

.exploration {
  align-items: center;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  text-align: center;
}
.exploration .exploration h1 {
  font-size: 15px;
}

.exploration p {
  color: #353535;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 25px 0;
}

.functioning {
  margin-bottom: 5px;
  padding: 20px 10px 30px 10px;
}
.functioning__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.functioning__container__card {
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 2px 14px lightgray;
  height: 65px;
  justify-content: center;
  margin: 3%;
  transform: scale(1);
  transition: transform 400ms;
  width: 70%;
}
.functioning__container__card:hover {
  background: #d7c0f2;
  transform: scale(1.05);
}

.functioning a {
  color: #000;
  font-weight: 600;
}

.step #step__one, .step #step__two, .step #step__three {
  background-color: #9356DC;
  border-radius: 50%;
  color: #FFF;
  padding: 0 5px 0 5px;
  position: relative;
  right: 9px;
  top: 6px;
}

#step__two {
  margin-left: -10px;
}

.fa-mobile-button, .fa-list-ul, .fa-store {
  color: lightgray;
}
.fa-mobile-button:hover, .fa-list-ul:hover, .fa-store:hover {
  color: #9356DC;
}

#restaurants__titre {
  background-color: #F6F6F6;
  margin-bottom: 0;
  padding: 30px 0 15px 10px;
}

#restaurants {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
}

.article {
  background-color: #FFF;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 298px;
  margin: 15px;
}
.article__palette {
  position: relative;
  z-index: 2;
}
.article__enchantee {
  position: relative;
  z-index: 2;
}
.article__francaise {
  position: relative;
  z-index: 2;
}
.article__delice {
  position: relative;
  z-index: 2;
}

.article__image {
  border-radius: 15px 15px 0 0;
  box-shadow: 0px 2px 14px lightgray;
  height: 215px;
  object-fit: cover;
  position: relative;
  width: 100%;
  z-index: 3;
}

.article__container__card {
  align-items: center;
  border-radius: 20px;
  display: flex;
  height: 100px;
  justify-content: space-between;
}
.article__container__card--text {
  margin-left: 0;
  padding: 0 0 25px 13px;
}

* {
  font-family: "Roboto", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

.restaurantcontainer {
  align-items: flex-end;
  display: flex;
  height: 300px;
  justify-content: center;
  width: 100%;
}
.restaurantcontainer img {
  background-size: cover;
  height: 300px;
  margin-bottom: 5px;
  object-fit: cover;
  position: relative;
  width: 100%;
}

#img__francaise {
  position: absolute;
  left: 0;
  top: 78px;
  width: 100%;
}

.restaurantcontainer__title {
  align-items: baseline;
  background-color: #F6F6F6;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}
.restaurantcontainer__title h1 {
  font-family: "Shrikhand", cursive;
  padding-left: 20px;
}

section {
  background-color: #F6F6F6;
  height: auto;
  justify-items: center;
  max-width: 100%;
}

.menu__choice {
  align-items: flex-end;
  height: auto;
  justify-items: center;
}
.menu__choice--text {
  display: flex;
  flex-direction: column;
  left: 0;
  margin: 0;
  transition: transform 500ms ease-in-out;
  white-space: nowrap;
  width: 232px;
}
.menu__choice--text h2 {
  width: auto;
}
.menu__choice--price {
  align-items: flex-end;
  border-radius: 0 30px 30px 0;
  display: flex;
  height: 100%;
  margin-left: 10px;
  top: 0;
  transition: transform 500ms ease-in-out;
  width: 50px;
}

.textone {
  padding-right: 2px;
  width: 630px;
}
.textone__title {
  margin: 0;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
}
.textone__description {
  margin: 0;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.textone__description p {
  width: auto;
}

.menu__choice__enchantee {
  position: relative;
  bottom: 20px;
}

.check {
  align-items: center;
  background-color: #99E2D0;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  float: right;
  height: 100%;
  justify-content: center;
  position: absolute;
  left: 410px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 400ms;
  width: 70px;
  z-index: 2;
}
.check__animation {
  background-color: #FFF;
  border-radius: 50px;
  height: 20px;
  justify-content: center;
  margin-top: 3px;
  overflow: hidden;
  position: absolute;
  transform: rotate(-360deg);
  transition: transform 500ms ease-in-out;
  width: 20px;
  z-index: 3;
}
.check__animation i {
  color: #99E2D0;
  z-index: 4;
}

.card__ghost {
  align-items: baseline;
  border-bottom: 3px solid #99E2D0;
  display: flex;
  height: 35px;
  margin-right: 250px;
  position: relative;
  right: 90px;
  width: 40px;
}

.card__menu {
  align-items: center;
  border-radius: 15px 15px 15px 15px;
  display: flex;
  height: 66px;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 450px;
}

.card__decoration--menu {
  background-color: #FFF;
  box-shadow: 4px 4px 5px #ABB0B4;
  transition: box-shadow 250ms, scale 50ms 200ms;
}
.card__decoration--menu:hover {
  box-shadow: 10px 10px 20px #343638;
  cursor: pointer;
}

/* Header */
.header {
  background-color: #FFF;
  box-shadow: 0px 2px 5px lightgray;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.header__logo {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  font-weight: bolder;
  margin: 25px 0;
}

.header--menu a {
  color: #000;
}

/* Footer */
footer {
  background-color: #353535;
  color: #FFF;
  font-weight: 100;
  width: 100%;
}
footer .footer__logo {
  font-family: Shrikhand, cursive;
  font-size: 20px;
  height: 17px;
  width: 98px;
}

footer a {
  color: #FFF;
}
footer a:hover {
  color: #9356DC;
}

footer li:nth-child(2),
footer li:nth-child(3) {
  font-weight: bold;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 25px 0;
}

.btn-explorer {
  align-items: center;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  border: none;
  border-radius: 30px;
  color: #FFF;
  cursor: pointer;
  height: 40px;
  margin: 20px 0 25px 0;
  position: relative;
  transform: scale(1);
  transition: transform 400ms;
  width: 200px;
}
.btn-explorer:hover {
  box-shadow: 10px 10px 20px #343638;
  cursor: pointer;
  transform: scale(1.15);
}

.fa-arrow-left {
  position: relative;
  top: 30px;
  right: 585px;
}

.fa-heart {
  color: lightgray;
  cursor: pointer;
  position: relative;
  top: -10px;
  left: -38px;
}
.fa-heart:hover::before {
  background: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  font-weight: 900;
  transition: 400ms ease-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-heart-menu {
  position: relative;
  bottom: 13px;
  left: -20px;
}

.fa-utensils {
  padding: 0;
}

.new {
  background-color: #99E2D0;
  color: #048968;
  font-size: 18px;
  font-weight: bold;
  height: 23px;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 73px;
  z-index: 4;
}

/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
