// Balises diverses

* {
    font-family: "Roboto", sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
}

// Location

#location {
    background-color: #EAEAEA;
    display: flex;
    justify-content: center;
    .fa-location-dot {
        color: $dark-color;
        padding: 5px 5px 7px 15px;
    }
}

input {
    background-color: #EAEAEA;
    border: none;
    font-weight: 600;
    width: 125px;
    ::placeholder {
        color: $dark-color;
    }
}

// Exploration

.exploration {
    align-items: center;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    text-align: center;
    h1 {
        font-size: 15px;
    }
    p {
        color: $dark-color;
    }
}

// Functioning

.functioning {
    margin-bottom: 5px;
    padding: 20px 10px 30px 10px;
    &__container {
    display: flex;
    flex-direction: column;
        &__card {
        background-color: $background-color;
        border-radius: 20px;
        box-shadow: 0px 2px 14px lightgray;
        height: 65px;
        margin: 3%;
        transform: scale(1);
        transition: transform 400ms;
        &:hover {
            background: lighten($primary-color, 22%);
            cursor: pointer;
            transform: scale(1.05);
        }
            &__link {
                color: #000;
                font-weight: 600;
                line-height: 35px;
            }
        }
    }
}

.step {
    #step__one, #step__two, #step__three {
        background-color: $primary-color;
        border-radius: 50%;
        color: #FFF;
        padding: 0 5px 0 5px;
        position: relative;
        right: 10px;
    }
}

.fa-mobile-button, .fa-list-ul, .fa-store {
    color: gray;
    padding: 0 15px 0 10px;
    &:hover {
        color: $primary-color;
    }
}

// Restaurants

#restaurants__titre {
    background-color: $background-color;
    margin-bottom: 0;
    padding: 50px 0 15px 10px;
    #restaurants {
        background-color: $background-color;
        display: flex;
        flex-direction: column;
        #restaurants a {
            color: #000;
        }
    }
}

.article {
    background-color: #FFF;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 298px;
    margin: 15px;
    &__palette,
    &__enchantee,
    &__francaise,
    &__delice {
        position: relative;
        z-index: 2;
    }
    &__image {
        border-radius: 15px 15px 0 0;
        box-shadow: 0px 2px 14px lightgray;
        height: 215px;
        object-fit: cover;
        position: relative;
        width: 100%;
        z-index: 3;
    }
    &__container__card {
        align-items: center;
        border-radius: 20px;
        display: flex;
        height: 100px;
        justify-content: space-between;
        &--text {
            color: #000;
            margin-left: 0;
            padding: 0 0 25px 13px;
        }
    }
}