$animation-duree: 300ms;
$color-duree: 1000ms;
$menu-duree: 1000ms;
$loading-duree: 2000ms;
$hide-duree: 3500ms;

$color-second-delay: 250ms;
$color-third-delay: 500ms;

$first-delay: 50ms;
$second-delay: 500ms;
$third-delay: 1000ms;

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;